<% /* Copyright 2009 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS-IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. */ %><% helpers.setHtmlTitle("TitanPad"); helpers.addBodyClass("home"); %>

<% helpers.includeCss("home.css"); %>

<div id="top"> 
<div id="intro-left"> 
<h1>TitanPad</h1>
<h2>TitanPad lets people work on one document simultaneously</h2>
<p>We are rescuing EtherPad for your use.</p>
<div id="intro-links"> 
<a id="newpadbutton" href="/ep/pad/newpad">Create new pad <small>No sign-up, start writing instantly</small></a>
<!--
<a id="betabutton" href="/ep/pro-signup">Create team site <small>Your own private space</small></a>
-->
</div> 

</div>
</div>

<div id="bottom">
<div id="quote">
<q>“Everyone loves it!”</q>

<div id="quote-right">
	<cite>—
	<strong>Anonymous</strong>, Internet
	</cite>
</div>
<div class="clear"></div> 
</div>

<div id="features">
<ul>
<li class="first">
<img src="/static/img/davy/gfx/32/15.png" alt="Clock">
<strong>True real-time</strong>
<span>...</span>

</li>

<li>
<img src="/static/img/davy/gfx/32/65.png" alt="Color Wheel">
<strong>Everyone gets their own color</strong>
<span>...</span>
</li>

<li>
<img src="/static/img/davy/gfx/32/78.png" alt="Undo">
<strong>Infinite Undo</strong>
<span>...</span>
</li>

<li>
<img src="/static/img/davy/gfx/32/114.png" alt="Filing">
<strong><a href="/ep/pro-signup/">Get your own private space</a></strong>
<span>Get a space for your team, on a subdomain<br/>
For <b>FREE!</b>
</li>

</ul>
<div class="clear"></div> 
</div> 
                

