<% /* Copyright 2009 Google Inc.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS-IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. */ %>

<% function renderTopNav() {
    var links = [
      ['/ep/pro-account/sign-in', 'Sign In', 'signin'],
      ['http://blog.titanpad.com/', 'Blog', 'blog'],
      ['/', 'Home', 'home'],
    ];
    var ul = UL();
    links.forEach(function(l) {
      var c = l[2];
      var selc = (request.path == l[0] || selected == c) ? " selected" : "";
      var href_ = request.scheme + '://'+request.host+l[0];
      if (l[0].substr(0,1) != '/') href_ = l[0];
      ul.push(LI({className: 'topnav_'+c+selc},
                 A({href: href_}, l[1])));
    });
    return ul;
} %>

<div id="topnav_wrap">
  <div id="navigation">
      <h1><a href="/">TitanPad</a></h1>
      <%= renderTopNav() %>
      <%= helpers.clearFloats() %>
  </div>
</div>
