 <div id="framedfooter"> 
 

    <div id="footer"> 
      <div id="footer-inner"> 
 
	<div id="appjet"> 
          <span>Powered by <a href="http://github.com/titanpad/titanpad">TitanPad</a></span> 
	</div> 
	
	<div id="footer-left"> 
	  <span>Copyright &copy; ...</span> 
	  <ul> 
            <li><a href="/ep/about/contact">Contact</a></li> 
            <li><a href="/ep/about/tos">Terms of Service</a></li> 
            <li><a href="/ep/about/privacy">Privacy Policy</a></li> 
	  </ul> 
	</div> 
 
	<div style="clear: both;"><!-- --></div> 
	
      </div> 
    </div> 

</div> 
