<% helpers.setHtmlTitle("TitanPad Help"); %>
<h1>TitanPad Help</h1>

<ul>
<li><a href="/ep/pro-help/#securityprivacy">Security & Privacy</a>
<li><a href="/ep/pro-help/#limitations">Limitations</a>
<li><a href="/ep/pro-help/#deletionpolicy">Deletion Policy</a>
<li><a href="/ep/pro-help/#featurerequests">Feature Requests</a>
<li><a href="/ep/pro-help/#knownissues">Known Issues</a>
</ul>

<p>These pages are evolving.  If you have any questions, or find
parts of TitanPad confusing, please write in to our Helpdesk by
emailing <%= helpers.oemail("support") %>.</p>

<p>Please report bugs to <%= helpers.oemail("bugs") %>.</p>

<a name="securityprivacy"></a>
<h2>Security & Privacy</h2>

<h3>What security models does TitanPad offer for pads?</h3>

<p>
TitanPad offers two different ways to work on Pads.
</p><p>
Public Pads (e.g. <code>http://titanpad.com/&lt;yourpadname&gt;</code>) are accessible by everyone who knows the address. There is no way to password protect these Pads or keep unwanted people out. Only use these Pads for shortlived unsensitive information.
</p><p>
Pads in private Subdomains (e.g. <code>http://&lt;yourdomain&gt;.titanpad.com/42</code>) are by default only accessible by users who have an account in the subdomain.
</p><p>

You can make these Pads accessible to the public by setting it's Access Level to Public in the Security-menu of the pad. Optionally you can also set a password for the pad, which is then required for <em>ALL</em> users who want to access the Pad, even users of your private domain.
</p>

<h3>
       How can I add people to a Pad in a private subdomain?
</h3>
<p>
You need to send the users the link to the pad in question. Additionally you need to decide on a level of collaboration.
</p><p>

For one-time collaboration it's usually sufficient to temporarily set the Pad's access level to "Public" and optionally configure a password for the pad.
</p><p>

For regular collaborators it usually makes more sense to create an account for the user in your private subdomain. Additional users can be created in the Admin menu of your private subdomain. 
</p>

<h3>
        How can I reset the password of a Pad?
</h3>

<p>
Lost passwords for Pads cannot be reset. You need to recover the text of the pad via the Recover Pad Text functionality in the Admin Menu and copy-paste the text into a new Pad. Afterwards you can delete the Pad for which you've lost the password.
<br/>
</p>

<h3>
        How can I delete an account in a private subdomain?
</h3>

<p>
Administrator users can delete acccounts in the Manage Accounts menu found in the Admin area. Please note that you can't delete your own account.
<br/>
</p>

<h3>
        How can I delete my private subdomain?
</h3>

<p>
If you want to remove your subdomain completely please delete all pads and all other user accounts. Then send us an email at support@titanpad.com stating your domain name and the name of your account and we'll remove your subdomain.
<br/>
</p>

<a name="limitations"></a>
<h2>
    Limitations
</h2>
<br/>

<h3>
        How many users can simutaneously edit a pad?
</h3>

<p>
Public Pads are limited to 8 simultaneous users. Pads in private subdomains have no hardcoded limits but usability degrades quite harshly after that since coordination of many people editing the same text isn't an easy task.
<br/>
</p>

<h3>
        How many users can I have in my private domain?
</h3>

<p>
There are no limits on the amount of users which can be created in a private domain.
<br/>
</p>


<a name="deletionpolicy"></a>
<h2>
    Deletion Policy
</h2>
<br/>

<h3>
	You are deleting things?!
</h3>
<p>
Since TitanPad is operated free of charge and had more success than we anticipated we needed to define a deletion policy for unused domains and pads. We've chosen quite liberal limits which shouldn't cause any problems for regular users but please take note that TitanPad is not an archival site. Please archive the work you care about somewhere safe.
</p>



<h3>
	How long will you store my public pads?
</h3>
<p>
If your pad has less than 20 revisions (click the Timeslider in the upper right corner and look for "Version") we will delete it 2 weeks after it has been accessed the last time.
</p>
<p>
If your pad has less than 50 revisions we will delete it 2 months after it has been accessed the last time
</p>
<p>
All other public pads are kept for 12 months since the last time they've been accessed.
<br/>
</p>


<h3>
	How long will you store my private subdomains?
</h3>
<p>
We will delete your private subdomains, including all pads in it, if you haven't accessed it for more than 2 years. To prevent your domain from being deleted it suffices to log in every 12-18 months to be on the safe side.
<br/>
</p>

<h3>
	What happens to pads I delete in my private subdomain?
</h3>
<p>
If you delete a pad in your list of pads it will just be flagged for removal. After 2 weeks we will then actually remove it from our database. Please remove any pads you don't need anymore since this reduces the size of our database and makes it possible to continue operate this service free of charge.
<br/>
</p>


<a name="featurerequests"></a>
<h2>
    Feature Requests
</h2>
<br/>

<h3>
        It would really great if you could implement feature $x
</h3>

<p>
The development on TitanPad is finished for now, we don't plan to add any new features in the near future. We might start cherry-picking features or even merge with <a href="https://github.com/ether/pad">EtherPad upstream</a> if there are interesting features/fixes in there but for now we're satisfied with the state of the site.
</p><p>

If you're interested to look at the source code yourself there's our public <a href="https://github.com/titanpad/titanpad">GitHub repository</a>. There's also quite a few different commercial <a href="http://etherpad.org/public-sites/">EtherPad clones</a> who focus on different use cases, especially Educational Institutions.
<br/>
</p>

<a name="knownissues"></a>
<h2>
    Known Issues
</h2>
<br/>

<h3>
        iOS Support
</h3>

<p>
TitanPad currently does not work with iOS devices like Apple's iPad or iPhone. A request has been opened on Apple's bug tracker to get support for the necessary HTML features in it's Mobile Safari.
<br/>

<h3>
	I keep getting disconnected!
</h3>

<p>
If you're using a private subdomain please make sure that the Pad you're editing is set to public (and users don't need to log in) or that every user has his own account. If two persons use the same login credentials and try to edit the same pad they will disconnect each other.
<br/>
</p>
