<% helpers.setHtmlTitle("TitanPad: About / TOS / Privacy Info"); helpers.addBodyClass("tospage"); %>

<div class="fpcontent">
<h1>About / TOS / Privacy Info</h1>
<br/>
TitanPad.com Team can be reached at <%= EMAILADDRESSES['support'] %>.<br/>
<br/>

TitanPad was launched to provide an EtherPad setup which is unrelated to any commercial and political entities. Its goal is to offer a stable service through proper operating.<br/>
<br/>
It is run by a team of IT professionals based in Austria. If demand is high enough, this operation will be formalized and backed by a non-profit association with the goal to provide a stable EtherPad host.<br/>
<br/>
The team:<br/>
<ul>
<li><a href="http://christian.hofstaedtler.name/">Christian Hofstädtler</a></li>
<li><a href="http://michael-prokop.at/">Michael Prokop</li>
<li><a href="http://amd.co.at/">Michael Renner</a></li>
</ul>
<br/>
We won't share your data with any 3rd party except as required by Austrian &amp; European law. Please note that access to pads is possible for anyone who knows the URL, so do not keep sensitive information in pads.<br/>
<br/>

</div>


