<% helpers.setHtmlTitle("Impressum"); helpers.addBodyClass("contactpage"); %>

<div class="fpcontent">
<h1>Contact</h1>
<br/>
TitanPad.com Team can be reached at <%= EMAILADDRESSES['support'] %>.<br/>
Use the online support / discussions: <a href="http://help.titanpad.com/">help.titanpad.com</a>.
<br/>
<br/>
<h1>Impressum</h1>
<br/>
<address>
Michael Renner<br/>
Schuettelstrasse 15A/30<br/>
1020 Wien<br/>
Austria<br/>
</address>

</div>


