<% helpers.setHtmlTitle("TitanPad: T&S"); helpers.addBodyClass("tospage"); %>

<div class="fpcontent">
<h1>Terms of Service</h1>
<br/>
Currently, you may only use this service at your own risk. Your data does not belong to you.
<br/>

</div>


